* {
    text-decoration: none;
    margin: 0;
    padding: 0px ;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: whitesmoke;
    margin: auto;
    height: 100%;
    padding: 0px;
    font-family: 'Montserrat-M';
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container input {
    width: 300px;
}

.container textarea {
    width: 300px;
    height: 130px;
    margin-bottom: 20px;
}

.container button {
    width: 130px;
    height: 35px;
}

.container p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.semuakomen {
    width: 90%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 20px;
}

.tabelkomen {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}

.tabelkomen h1 {
    font-size: 14px;
    margin-bottom: 5px;
}

.tabelkomen p {
    font-size: 12px;
}